/* Return back original CME icon colors after Gin */
.cme-toolbar svg path {
  fill: #333;
}

/* Preview area */
#component-library-variant {
  border: solid 3px #ccc;
  display: block;
  padding: 0.5rem;
  min-height: 15rem;
  position: relative;
  resize:both;
  overflow:auto;
}

#component-library-variant iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
