#toolbar-bar .float-right {
  float: right;
}

.override-mode [data-override-mode],
#override-mode-tray .override-button {
  cursor: pointer;
}

#override-mode-tray .override-mode-highlight {
  color: black;
  padding-left: .5rem;
}

.override-mode-highlight {
  background: pink !important;
}

[data-drupal-selector="edit-configuration-container"] {
  display: flex;
  gap: 1rem;
}

.CodeMirror-scroll {
  max-height: 20rem;
}
