.style-override-container {
  display: flex;
  align-items: center;
}

.style-override-container > *:first-child {
  margin-right: 2em;
}

.style-override-container:not(.style-override-container_checkbox) > *:first-child {
  margin-top: 3em;
}

.style-override-container > *:not(:first-child) {
  min-width: 15vw;
}
