{#
/**
 * @file
 * Default theme implementation to present a component library entity.
 *
 * This template is used when viewing a registered component library's page,
 * e.g., /admin/content/component-library)/123. 123 being the component library's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_component_library()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
